{% extends "base.html" %}
{% block content %}
    <h1>{{ restaurant }}</h1>
    {% for category in categories %}
        <h2>{{ category.name }}</h2>
        {% if category.description %}<em>{{ category.description }}</em>{% endif %}
        <ul>
            {% for item in category.item_set.all %}
                <li>
                    <div>
                        <p>{{ item.name }} - ${{ item.price_1 }}</p>
                        {% if item.description %}<em>{{ item.description }}</em>{% endif %}
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% endfor %}
{% endblock content %}
