{% extends "base.html" %}
{% load custom_filters %}
{% block meta_tags %}{% restaurant.name%}{% endblock meta_tags %}
{% block title %}
    {{ restaurant.name }}
{% endblock title %}
{% block content %}
    <p class="bg-info text-center p-2">All restaurant pricings are subject to change without notice.</p>
    <h1>{{ restaurant.name }}</h1>
    <blockquote>
        {{ restaurant.description }}
    </blockquote>
    <p>Restaurant Hours:</p>
    <ul class="list-group list-group-flush">
        {{ restaurant.hours_of_operation|safe }}
    </ul>
    {% if restaurant.phone %}
        <p>
            <i class="bi-telephone"></i> <a href="tel:+1{{ restaurant.phone }}">{{ restaurant.phone|phone_number }}</a>
        </p>
    {% endif %}
    {% if restaurant.facebook %}
    <a class="bi-facebook" href="{{ restaurant.facebook }}"></a>
    {% endif %}
    <div class="accordion" id="accordionExample">
        {% for category in categories %}
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#collapse{{ category.pk }}"
                            aria-expanded="false"
                            aria-controls="collapse{{ category.pk }}">{{ category.name }}</button>
                </h2>
                <div id="collapse{{ category.pk }}"
                     class="accordion-collapse collapse"
                     data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        {% if category.description %}<p class="fw-bold">{{ category.description|safe }}</p>{% endif %}
                        <ul class="list-unstyled">
                            {% for item in category.item_set.all %}
                                <li>
                                    <div class="container mb-3">
                                        <div class="row">
                                            <div class="col-6">
                                                <h6>{{ item.name }}</h6>
                                            </div>
                                            {% if item.price_1 != 0 %}
                                                <div class="col-6">
                                                    <h6 class="text-end">
                                                        {% if item.price_1_descr %}{{ item.price_1_descr }}:{% endif %}
                                                        ${{ item.price_1|floatformat:2 }}
                                                    </h6>
                                                </div>
                                            {% endif %}
                                        </div>
                                        {% if item.price_2 %}
                                            <div class="col">
                                                <h6 class="text-end">
                                                    {% if item.price_2_descr %}{{ item.price_2_descr }}:{% endif %}
                                                    ${{ item.price_2 }}
                                                </h6>
                                            </div>
                                        {% endif %}
                                        {% if item.description %}
                                            <div class="row">
                                                <em>{{ item.description }}</em>
                                            </div>
                                        {% endif %}
                                        <hr />
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
